/*Environment*/
body {
    background-color: gray;
}
div {
    margin-bottom: 1em;
}

/*Table*/
button {
    border: 0;
    background-color: #ffb905;
}
table {
    background-color: #ffb905;
    border: solid black 2px;
    border-spacing: 0;
    margin-right: 2em;
    width: 20em;
}
td {
    border: solid black 1px;
}

/*Show event*/
.event {
    border: solid black 2px;
    background-color: #ffd06b;
    margin-left: 25em;
    margin-right: 20em;
    min-height: 15em;
}
.butBar {
    color: #ffb905;
    background-color: rebeccapurple;
}

/*Add new event*/
textarea {
    width: 450px;
    height: 140px;
    resize: none;
    background-color: lightgrey;
    border: 1px solid black;
}
li {
    list-style-type: none;
    width: 310px;
}
input[type=text] {
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 2px;
}
input[type=number] {
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 2px;
    width: 112px;
}
#saveNew {
    background-color: lightgrey;
    border: 1px solid black;
}