<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>Jindekara</title>
		<meta charset="UTF-8">
		<link href="../static/default_style.css" th:href="@{/default_style.css}" rel="stylesheet" />
	</head>

	<body>

		<h1> Jindekara </h1>

		<table>
			<tr><td><a href="/tales">Сказания на все времена</a></td></tr>
			<tr><td><a href="/maps">Карта</a></td></tr>
			<tr><td><a href="/characters">Персонажи</a></td></tr>
			<tr><td><a href="/bestiary">Бестиарий</a></td></tr>
		</table>
	</body>
</html>