<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Домашняя страница
            </a>

            <a class="navbar-item" href="/tales">
                Сказания на все времена
            </a>

            <a class="navbar-item" href="/personages">
                Персонажи
            </a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Бестиарий
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/bestiary">
                        Обычные существа
                    </a>
                    <a class="navbar-item">
                        Разумные
                    </a>
                    <a class="navbar-item">
                        Демоны
                    </a>
                    <a class="navbar-item">
                        Подрасы
                    </a>
                </div>
            </div>


        </div>
    </div>
</nav>